<div class="review">
    <div class="header" id="header">
        <div class="title">
            <img class="title__pic" src="./src/img/map_marker.svg"/>
            <div class="title__text">{{ address }}</div>        
        </div>
        <div class="header__close" id="closeForm"></div>
    </div>
    <div class="review__content">
        <ul class="review__list" id="reviewList">
            {{#each reviews}}
            <li class="review__item">
                <div class="review__title">
                    <div class="review__name">{{ name }}</div>
                    <div class="review__place">{{ place }}</div>
                    <div class="review__date">{{ date }}</div>
                </div>    
                <div class="review__text">{{ textReview }}</div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="form">
        <div class="form__title">ваш отзыв</div>
        <input type="text" id="name" class="form__input form__input--name" placeholder="Ваше имя">
        <input type="text" id="place" class="form__input form__input--place" placeholder="Укажите место">
        <textarea  id="textReview" class="form__input form__input--review" placeholder="Поделитесь впечатлениями"></textarea>
        <button type="submith" class="form__btn" id="save">Добавить</button>
    </div>
</div>
